<ng-progress id="header" #header></ng-progress>
<div class="container">

  <div class="row">
    <div class="container">
      <ng-container *ngIf="progressBar.state$ | async; let state">

        <p [className]="state.active ? 'mt-5' : ''">
          <ngb-progressbar type="info" [value]="(progressBar.state$ | async)  .value" [striped]="true" [height]="state.active ? '1rem' : '0rem'" [animated]="true"></ngb-progressbar>

        </p>
        <gauge-component [hidden]="!isLoaded" [score]="score" [confidence]="confidence"></gauge-component>
        <div *ngIf="isLoaded">
          <div class="row">
            <div [ngClass]="['card', 'text-white', 'mb-3', bg]">
              <div class="card-header">
                <h4>
                  <fa-icon [icon]="faChartLine" class="icon-card"></fa-icon>&nbsp;&nbsp;&nbsp;Analysis</h4>
              </div>
              <div class="card-body">
                <p class="card-text">{{ result.report }}</p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="result.score.multihosted >= 0 || result.ransom || result.shodan || result.score.grey.reputation < 10">
            <div class="card text-white mb-3 bg-dark ">
              <div class="card-header">
                <h4>
                  <fa-icon [icon]="faKeycdn" class="icon-card"></fa-icon>&nbsp;&nbsp;&nbsp;Key Notes</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-success py-1" *ngIf="result.score.multihosted == 1">
                  <span class="lead"><b> IP is multihosted - </b></span> Please verify that the visited domain is one known to be suspicious.
                </div>
                <div class="alert alert-info py-1" *ngIf="result.score.multihosted == 0">
                  <span class="lead"><b> IP may be multihosted - </b></span> You may need to verify that the visited domain is one known to be suspicious.
                </div>
                 <div class="alert alert-danger py-1" *ngIf="result.c2 && result.c2.name">
                  <span class="lead"><b> C2 Server Detected - </b></span> {{result.c2.name}} Command & Control Server at <span class="text-muted"> {{result.c2.domain}} </span>
                </div>
                <div class="alert alert-danger py-1" *ngIf="result.ransom">
                  <span class="lead"><b> RansomeWare Detected - </b></span> {{result.ransom.malware}} {{result.ransom.type}} at <span class="text-muted"> {{result.ransom.url}} </span>
                </div>
                <div class="alert alert-darker py-1" *ngIf="result.shodan">
                  <span class="lead"><b> Known to Shodan: </b></span>
                  <br>
                  <ul>
                    <li><b>Category:</b>
                      <div *ngIf="result.shodan.category.length > 0" style="display: inline-block;">
                        <div *ngFor="let category of result.shodan.category" style="display: inline-block;">
                          <span class="badge badge-info mx-1"> {{ category }} </span>
                        </div>
                      </div>
                      <div *ngIf="result.shodan.category.length == 0" style="display: inline-block;"> <span class="badge badge-dark mx-1">Unknown</span></div>
                    </li>
                    <li><b>Open Ports:</b>
                      <div *ngIf="result.shodan.ports.length > 0" style="display: inline-block;">
                        <div *ngFor="let port of result.shodan.ports" style="display: inline-block;">
                          <span class="badge badge-warning mx-1"> {{ port }} </span>
                        </div>
                      </div>
                      <div *ngIf="result.shodan.ports.length == 0" style="display: inline-block;"> <span class="badge badge-dark">None</span></div>
                    </li>
                  </ul>
                </div>
                <div class="alert alert-darker py-1" *ngIf="result.score.grey && result.score.grey.reputation == 1">
                  <div *ngIf="result.score.grey.limitedData || result.score.grey.confidence < 1">
                    <span class="lead"><b> Mass Scanning is Possible - </b></span> This IP has been weakly flagged as a begnign mass scanner (ie. web crawler). Targeted attacks are possible but unlikely.
                  </div>
                  <div *ngIf="!result.score.grey.limitedData && result.score.grey.confidence > 0">
                    <span class="lead"><b> Mass Scanning Detected - </b></span> This IP has been flagged as a begnign mass scanner (ie. web crawler). Targeted attacks are unlikely.
                  </div>
                </div>
                <div class="alert alert-warning py-1" *ngIf="result.score.grey && result.score.grey.reputation < 1">
                  <div *ngIf="result.score.grey.limitedData || result.score.grey.confidence < 1">
                    <span class="lead"><b> Mass Scanning is Possible - </b></span> This IP has been weakly flagged as a malicious mass scanner (ie. vulnerability scanner). Vulnerability scanners may result in future attacks.
                  </div>
                  <div *ngIf="!result.score.grey.limitedData && result.score.grey.confidence > 0">
                    <span class="lead"><b> Mass Scanning Detected - </b></span> This IP has been flagged as a malicious mass scanner (ie. vulnerability scanner). Follow-up attacks are likely.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 px-0">
              <div class="card text-white mb-3 bg-dark ">
                <div class="card-header ">
                  <h4>
                    <fa-icon [icon]="faMapMarkerAlt" class="icon-card"></fa-icon>&nbsp;&nbsp;&nbsp;Location <span *ngIf="result.location && result.location.country"> ● </span><span *ngIf="result.location && result.location.city" style="font-style: italic; color: palegreen;"> {{ result.location.city }} — </span><span *ngIf="result.location && result.location.country" style="font-style: italic; color: palegreen;">{{ result.location.country }} </span>
                    <span *ngIf="result.as_name  && result.as_name  != 'NA'"> ● <span style="color: coral;"> {{ result.as_name }} </span></span>
                  </h4>
                </div>
                <div class="card-body" *ngIf="result.location || (result.asn_registry && result.asn_registry != 'NA')">
                  <div class="row location">
                    <div class="col-lg-8">
                      <ioc-map *ngIf="result.location" [lat]="result.location.lat" [lon]="result.location.lon"></ioc-map>
                    </div>
                    <div class="col-lg-4 order-first pr-0">
                      <div class="location-info">
                        <div class="location-item" *ngIf="result.asn_registry && result.asn_registry != 'NA'">
                          <div class="row">
                            <div class="col-4 category pl-0">
                              <fa-icon [icon]="faGlobeAmericas"></fa-icon> Autonomous System
                              <br>
                            </div>
                            <div class="col-8 content no-top-border pl-0">
                              <div *ngIf="result.asn && result.asn != 'NA'">
                                <dt>ASN:</dt>
                                <dd> {{ result.asn }}</dd>
                              </div>
                              <div *ngIf="result.as_name  && result.as_name  != 'NA'">
                                <dt>AS Name:</dt>
                                <dd> {{ result.as_name }}</dd>
                              </div>
                              <div *ngIf="result.asn_country_code && result.asn_country_code != 'NA'">
                                <dt>AS Country:</dt>
                                <dd>{{ result.asn_country_code }}<span *ngIf="result.asn_country && result.asn_country_code != result.asn_country "> ({{ result.asn_country }}) </span></dd>
                              </div>
                              <div *ngIf="result.asn_registry && result.asn_registry != 'NA'">
                                <dt>AS Registry:</dt>
                                <dd>{{ result.asn_registry }}</dd>
                              </div>
                              <div *ngIf="result.asn_date  && result.asn_date  != 'NA'">
                                <dt>AS Date:</dt>
                                <dd> {{ result.asn_date }}</dd>
                              </div>
                              <div *ngIf="result.asn_cidr  && result.asn_cidr  != 'NA'">
                                <dt>AS CIDR:</dt>
                                <dd>{{ result.asn_cidr }}</dd>
                              </div>
                              <dt><br></dt>
                              <dd> </dd>
                            </div>
                          </div>
                        </div>
                        <div class="location-item" *ngIf="result.address">
                          <div class="row">
                            <div class="col-4 category pl-0">
                              <fa-icon [icon]="faBuilding"></fa-icon> Registrant Information
                              <br>
                            </div>
                            <div class="col-8 content pl-0">
                              <div *ngIf="result.address">
                                <dt>Address:</dt>
                                <dd> {{ result.address }}</dd>
                              </div>
                              <div *ngIf="result.email">
                                <dt>Email:</dt>
                                <dd *ngFor="let mail of result.email"> {{ mail }}</dd>
                              </div>
                              <dt><br></dt>
                              <dd> </dd>
                            </div>
                          </div>
                        </div>
                        <div class="location-item" *ngIf="result.location">
                          <div class="row">
                            <div class="col-4 category pl-0">
                              <fa-icon [icon]="faMapSigns"></fa-icon>Location Data
                              <br>
                            </div>
                            <div class="col-8 content pl-0">
                              <div *ngIf="result.location.city">
                                <dt>City:</dt>
                                <dd> {{ result.location.city }}</dd>
                              </div>
                              <div *ngIf="result.location.region">
                                <dt>Region:</dt>
                                <dd> {{ result.location.region }}</dd>
                              </div>
                              <div *ngIf="result.location.country">
                                <dt>Country:</dt>
                                <dd> {{ result.location.country }}</dd>
                              </div>
                              <div *ngIf="result.location.continent">
                                <dt>Continent:</dt>
                                <dd> {{ result.location.continent }}</dd>
                              </div>
                              <div *ngIf="result.location.radius">
                                <dt>Radius (mi):</dt>
                                <dd> {{ result.location.radius }}</dd>
                              </div>
                              <dt><br></dt>
                              <dd> </dd>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div Class="card text-white mb-3 bg-dark">
              <div class="card-header">
                <h4>
                  <fa-icon [icon]="faExclamationTriangle" class="icon-card"></fa-icon>&nbsp;&nbsp;&nbsp;Blacklists</h4>
              </div>
              <div class="card-body">
                <table class="table table-striped" *ngIf="result.blacklist.length > 0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Source</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of result.blacklist | reverse | slice:0:quantity_blacklist">
                      <td>{{ item.description }}</td>
                      <td>{{ item.source }}</td>
                      <td>{{ item.last_seen }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <p class="lead">
                  Total Count: <strong>{{ result.blacklist.length }}</strong></p>
                <a *ngIf="result.blacklist && result.blacklist.length > 4 && quantity_blacklist == 4" href="javascript:void(0)" (click)="blacklistQuantity()" class="card-link">Show More</a>
                <a *ngIf="result.blacklist && result.blacklist.length > 4 && quantity_blacklist > 4" href="javascript:void(0)" (click)="blacklistQuantity()" class="card-link">Show Less</a>

              </div>
            </div>
          </div>

          <div class="row">
            <div Class="card text-white mb-3 bg-dark">
              <div class="card-header">
                <h4>
                  <fa-icon [icon]="faBug" class="icon-card"></fa-icon>&nbsp;&nbsp;&nbsp;Malware</h4>
              </div>
              <div class="card-body">
                <table class="table table-striped" *ngIf="result.malware.list">
                  <thead>
                    <tr>
                      <th scope="col">Malware</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of result.malware.list | slice:0:quantity_malware">
                      <td>
                        <a href="https://www.virustotal.com/#/file/{{item.hash}}">{{ item.hash }}</a></td>
                      <td>{{ item.date | slice:0:19 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <p class="lead">
                  Total Count: <strong>{{ result.malware.count }}</strong></p>
                <a *ngIf="result.malware.count > 4 && quantity_malware == 4" href="javascript:void(0)" (click)="malwareQuantity()" class="card-link">Show More</a>
                <a *ngIf="result.malware.count > 4 && quantity_malware > 4" href="javascript:void(0)" (click)="malwareQuantity()" class="card-link">Show Less</a>

              </div>
            </div>
          </div>

          <div class="row">
            <div Class="card text-white mb-3 bg-dark">
              <div class="card-header">
                <h4>
                  <fa-icon [icon]="faGlobe" class="icon-card"></fa-icon>&nbsp;&nbsp;&nbsp;Resolved URLs</h4>
              </div>
              <div class="card-body">
                <table class="table table-striped" *ngIf="result.url.list">
                  <thead>
                    <tr>
                      <th scope="col">Domain</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of result.url.list | slice:0:quantity_url">
                      <td>{{ item.domain }}</td>
                      <td>{{ item.date }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <p class="lead">
                  Total Count: <strong>{{ result.url.count }}</strong></p>
                <a *ngIf="result.url.count> 4 && quantity_url == 4" href="javascript:void(0)" (click)="urlQuantity()" class="card-link">Show More</a>
                <a *ngIf="result.url.count> 4 && quantity_url > 4" href="javascript:void(0)" (click)="urlQuantity()" class="card-link">Show Less</a>

              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
