<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to</h1>
            <h1 class="display-3 text-info">IOCSCAN<wbr>.IO</h1>
            <p class="lead">This site is designed to assist in DFIR and suspicious traffic pattern analysis. We analyze hundreds of providers, feeds, and dumps to provide an "at-a-glance" idea of the threat level posed by a given IP or Domain.</p>
            <hr class="my-4">
            <p>To get started enter an IP or Root-Level Domain below.</p>
            <form [formGroup]="SearchHome" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{whatType()}}</span>
                    </div>
                    <input class="form-control form-control-lg" type="text" formControlName="search">
                </div>
                <div *ngIf="SearchHome.valid && (this.fail)">
                    <p class="text-info"> Looks Good!</p>
                </div>
                <div *ngIf="SearchHome.invalid && (this.fail)">
                    <p class="text-danger">{{errorType()}}</p>
                </div>
                <p class="lead">
                    <button class="btn btn-primary btn-lg">Search</button>
                </p>
            </form>

        </div>
    </div>
</div>
